DATABASE_URL=postgresql://postgres:[PASSWORD]@db.uyrkpbnxiwkjpcpubhlt.supabase.co:5432/postgres
JWT_SECRET=any_random_secret_string
PORT=5000
NODE_ENV=production
FRONTEND_URL=https://smart-attendance-management-system-umber.vercel.app
